<!DOCTYPE HTML>
<html lang="en-GB">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="What ever your site is about">
        <meta name="keywords" content="Vim,HTML,CSS, etc.">
        <meta name="author" content="Simon Long">
        <meta name="viewport" content="width=device-wisth, initial-scale=1.0">
        <title></title>
        <link rel="stylesheet" content="">
    </head>
    <body>
        <div class="container">
            <header>
            </header>
            <footer>
            </footer>
    </body>
    <script></script>
</html>
